@page
@model LibMan_c1627015m.Pages.WelcomeModel
@{
    ViewData["Title"] = "Welcome";
    Layout = "~/Pages/Shared/_LayoutLogin.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome</title>
</head>
<body>
    <div class="card bg-dark text-white" style="width:300px">
        <img src="~/image/reader.png" style="width:300px; height:300px; "    class="card-img" alt="...">
        <div class="card-img-overlay">
            <h5 class="card-title">Welcome @Model.Username</h5>
            <p class="card-text">This is a online library.</p>
        </div>
    </div>

   
    


</body>
</html>


